<div class="card">
  <div class="card-title">
    <h2 class="text-2xl">Reactivos: Switches</h2>
  </div>
  <div class="card-body">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
      <!-- Radio -->
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Género</legend>
        <div class="flex items-center gap-2">
          <input
            class="radio radio-primary radio-sm"
            type="radio"
            value="M"
            id="radioMale"
            formControlName="genre"
          />
          <label for="radioMale"> Masculino </label>
        </div>
        <div class="flex items-center gap-2">
          <input
            class="radio radio-primary radio-sm"
            type="radio"
            value="F"
            id="radioFemale"
            formControlName="genre"
          />
          <label for="radioFemale"> Femenino </label>
        </div>
      </fieldset>

      <!-- Switches -->
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Notificaciones</legend>
        <label class="label" for="flexSwitchCheckChecked">
          <input
            class="toggle toggle-primary"
            type="checkbox"
            id="flexSwitchCheckChecked"
            formControlName="wantNotifications"
          />
          Quiero recibir notificaciones
        </label>
      </fieldset>

      <!-- Switches -->
      <fieldset class="row mb-3">
        <label class="label" for="flexCheckDefault">
          <input
            class="toggle toggle-primary"
            type="checkbox"
            id="flexCheckDefault"
            formControlName="acceptTerms"
          />
          Términos y condiciones de uso
        </label>
        @if (formUtils.isValidField(form, "acceptTerms")) {
        <div class="alert alert-error alert-soft mt-4">
          <span> Debe de aceptar las condiciones de uso </span>
        </div>
        }
      </fieldset>

      <div class="card-actions justify-end">
        <button class="btn btn-primary" type="submit">Guardar</button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body mockup-code">
    <h5>Valor del formulario</h5>
    <pre>{{ form.value | json }}</pre>
    <br />

    <h5>Persona</h5>
    <pre>{{ "object" | json }}</pre>
    <br />

    <h5>Valid</h5>
    <pre>{{ form.valid | json }}</pre>

    <!-- <h5>Términos</h5> -->
    <!-- <pre>{{ myForm.controls?.terminos?.errors | json }}</pre> -->

    <!-- <br>
    <pre>Condiciones: </pre> -->
  </div>
</div>
