<div class="card">
  <div class="card-title">
    <h2 class="text-3xl">Reactivos: Básicos</h2>
  </div>
  <div class="card-body">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
      <!-- Campo de producto -->
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Producto</legend>
        <input
          type="text"
          class="input"
          formControlName="name"
          [class.input-error]="formUtils.isValidField(myForm, 'name')"
          placeholder="Nombre del producto"
        />
        @if ( formUtils.isValidField(myForm, 'name')) {
        <span class="label text-error">
          {{ formUtils.getFieldError(myForm, "name") }}
        </span>
        }
      </fieldset>

      <!-- Campo de producto -->
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Precio</legend>
        <input
          type="number"
          class="input"
          formControlName="price"
          [class.input-error]="formUtils.isValidField(myForm, 'price')"
          placeholder="Precio del producto"
        />
        @if ( formUtils.isValidField(myForm, 'price')) {
        <span class="label text-error">
          {{ formUtils.getFieldError(myForm, "price") }}
        </span>
        }
      </fieldset>

      <!-- Campo de existencias -->
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Existencias</legend>
        <input
          type="number"
          class="input"
          formControlName="inStorage"
          [class.input-error]="formUtils.isValidField(myForm, 'inStorage')"
          placeholder="Existencias del producto"
        />

        @if ( formUtils.isValidField(myForm, 'inStorage')) {
        <span class="label text-error">
          {{ formUtils.getFieldError(myForm, "inStorage") }}
        </span>
        }
      </fieldset>

      <div class="card-actions justify-end">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!myForm.valid"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body mockup-code w-full">
    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>

    <span>Value</span>
    <code>
      {{ myForm.value | json }}
    </code>

    <span>Precio</span>
    <pre>{{ myForm.controls["price"].value | json }}</pre>

    <span>Producto</span>
    <pre>{{ myForm.controls["name"].value | json }}</pre>
  </div>
</div>
